/* Prevent Problems with Different Browsers*/
* {box-sizing: border-box}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
/*Start Header Style*/
header {
    background-color: #4b7173;
    padding: 1rem 2%;
    display: flex;
    align-items: flex-end;
}
header div {
    padding-left: 1%;
}
header h1 {
    color: #e9f1ef;
    margin: 0;
    letter-spacing: .5px;
}
header p {
    margin: 0;
    color: #e9f1ef;
    letter-spacing: .09px;
}
/*Start Nav Style*/
/* MOBILE SCREEN Styling*/
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        color: #3c5556;
    }

    nav li.active a {
        background-color: #894639;
        background-image: linear-gradient(to bottom, #894639, #4c261f);
            color: #f6efe7;
    }
} /*End MOBILE Media Query*/
/* BIG SCREEN Styling*/
@media only screen and (min-width: 601px) {
    nav {
        background-color: #f5d4c3;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2%;
        margin: 0;
        display: flex;
    }
    nav a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #3c5556;
        font-weight: 700;
        display: block;
        padding: .75rem 2rem;
            /*Apple recommends 42 px buttons; Google recommends 48 px... try to mess with the rms above to find one of those*/
    }
    nav li.active a {
        background-color: #894639;
            color: #f6efe7;
    }
    nav a:hover {
        color: white;
    }
} /*End BIG SCREEN Media Query*/

/*Start Main Style*/
main {
    padding: 1rem 2%;
    background-color: #f6efe7;
}
main h1 {
    color: #4b7173;
}
main h2 {
    color: #bf7465;
    margin-bottom: .2rem;
}
main p {
    color: #3c5556;
    margin: 0 0 .3rem 0;
}
main ol {
    padding: .5rem 5%;
    background-color: #f5d4c3;
    width: 12.5rem;
    margin-left: 1rem;
    border: 1px solid #3c5556;
    border-radius: .5rem;
    color: #3c5556;
    line-height: 150%;
}
main ol a {
    color: #3c5556;
    text-decoration: none;
}
main ol a:hover {
    color: white;
}
main dl dt {
    color: #3c5556;
    font-weight: 700;
    margin-left: 1rem;
}
main dl dd {
    color: #3c5556;
    font-size: .9rem;
}
main ul {
    list-style-type:square;
}
main ul li {
    line-height: 125%;
    margin-bottom: .25rem;
    font-size: .9rem;
}
main a {
    color: #3c5556;
    text-decoration: none;
}
main a:hover {
    color: #bf7465;
}
/*Main Page Wrapped Image*/
    figure.wrapped {
        width: 30%;
        margin: 0;
        margin-left: 2%;
        float: right;
    }
    figure.wrapped img {
        width: 100%;
        height: auto;
    }
    figure.wrapped figcaption {
        text-align: center;
        font-size: .8rem;
        color:#bf7465;
        clear: both;
    }
/*Start Hero Image Styling*/
.artemishero {
    width: 100%;
    margin: 0;
}
.artemishero img{
    width: 100%;
    height: auto;
}
/* Start Gallery Formatting*/
 div.gallery {
    display: flex;
    flex-wrap: wrap;
 }
 div.gallery figure {
    margin: .5rem 2% 0 0;
 }
 div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color:#bf7465;
 }
 div.gallery img:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
 }
 /*Start Form Styling*/
 .theForm fieldset {
    border: 1px solid #3c5556;
    border-radius: 3px;
    margin-bottom: 1rem;
 }
 .theForm legend {
    color: #3c5556;
    font-size: .8rem;
 }
 .theForm label {
    margin: .5rem;
 }
 .theForm label, .theForm select, .theForm [type=text], .theForm [type=tel], .theForm [type=email], .theForm text area {
    display: block;
 }
 .theForm select, .theForm [type=text], .theForm [type=tel], .theForm [type=email], .theForm text area {
    border: solid 1px #4b7173;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
 }
.theForm textarea {
    height: 4rem;
}
.theForm :required {
    background-color: #bf746549;
}
.theForm [type=submit] {
    background-color: #4b7173;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1.5%;
}
/*Start Footer Style */
footer {
    background-color: #bf7465;
    text-align: center;
    color: black;
    padding: .5rem 0;
    font-size: .8rem;
}
footer a {
    color: black;
}
footer a:hover {
    color: #e9f1ef
}
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}